body {
	background-color: black;
}

#ryanmakuku.jpg {
	max-width: 30%;
}

#card-block{
	background-color: red;
}

h3 {
	text-align: center;
} 

.card-title {	
	color: red;
}

.progress-info {
	background-color: blue;
}

.Anime {
	float: right;
}
