body {
	background-color: black;
	font-family: 'Oswald', sans-serif;

}

#card-block	{
	background-color: black;
}

h3 {
	text-align: center;
} 

.card-title {	
	color: black;
}

.progress-info {
	background-color: blue;
}

.runner-sport {
	float: right;
}

.linkedincustom {
	font-size: 100px;
}

.hard-worker	{
	font-size: 50px;
}

.linkedincustom	{
	font-size: 200%;
	color: #007bb6;
}

.facebookcustom	{
	font-size: 200%;
	color: #3B5998;
}

.twittercustom	{
	font-size: 200%;
	color: #00aced;
}
